@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: #1A1A1D;
} */

#particles canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}